<div class="log-form">
  <h2>Login</h2>
      <style>
          body {
            font-family: 'open sans', helvetica, arial, sans;
          background:url(https://pp.userapi.com/c633523/v633523264/2393c/NgY8UfpfyDM.jpg) no-repeat center fixed;
          }

          @grey:#2a2a2a;
          @blue:#1fb5bf;
          .log-form {
            width: 40%;
            min-width: 320px;
            max-width: 475px;
            background: (#000000, 45%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            box-shadow: 0px 2px 5px rgba(0,0,0,.25);

            form {
              display: block;
              width: 100%;
              padding: 2em;
            }


            .btn {
              display: inline-block;
              background: @red;
              border: 1px solid darken(@red);
              padding: .5em 2em;
              color: red;
              margin-right: .5em;
              box-shadow: inset 0px 1px 0px fadeout(white, 80%);
              &:hover {
                background: lighten(@red, 5%);
              }
              &:active {
                background: @green;
                box-shadow: inset 0px 1px 1px fadeout(black, 90%);
              }
              &:focus {
                outline: none;
              }
            }

          }
      </style>

        <form>
          <input type="text" title="username" placeholder="username" />
          <input type="password" title="username" placeholder="password" />
          <button type="submit" class="btn">Login</button>
        </form>
      </div><!--end log form -->
