<title>Список доступных лотов</title>{{end}}
    <script type="text/javascript">
        function Add100Price(lot) {
            var http = new XMLHttpRequest();
            http.open("POST", lot, true);
            http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var params = "newPrice=100"
            http.send(params);
        }

        function WebSocketPrice() {
            if ("WebSocket" in window) {
                var ws = new WebSocket("ws://localhost:5000/auction/ws");
                ws.onopen = function () {
                    alert("WS is opened");
                };

                ws.onmessage = function(evt) {
                    var received_msg = JSON.parse(evt.data);

                    document.getElementById("price_"+received_msg.LotID).innerHTML = "<pre>" + received_msg.Price + "</pre>";
                };

                ws.onclose = function () {
                    alert("WS is closed");
                };
            } else {
                alert("WebSocket is not supported in your browser");
            }
        }
    </script>
    <div class="lots">
		<h1>Лоты</h1>
		<style>
		     body {
		        font-family: 'open sans', helvetica, arial, sans;
		     }

		      .lots {
		        width: 40%;
		        min-width: 320px;
		        max-width: 475px;
		        background: (#black, 45%);
                position: absolute;
		      }

			th {
			  background-color: #AAA111;
			  color: white;
              border-bottom: 1px solid #ddd;
			}
			td {
			  background-color: #CCC999;
              border-bottom: 1px solid #ddd;
			}

			 form {
              display: block;
              width: 100%;
              padding: 1em;
            }

		</style>
		<p>
		    <a href="auction/lots/add" >Добавить лот</a>
		</p>
		<div class="lots">
		    <table border="1">
		        <tr>
		            <th>ИД лота</th>
		            <th>Описание</th>
		            <th>Текущая цена</th>
		        </tr>
		        {{range $key,$value := . }}
		        <tr>
		            <td>{{$value.ID}}</td>
		            <td>{{$value.Title}}</td>
		            <td><div id="price_{{$value.ID}}">{{$value.StartPrice}}</div></td>
		            <td>
		                <form action="" method="post" onsubmit="Add100Price('/auction/lots/{{$value.ID}}/updprice');return false;">
		                    <p><input type="submit" value="+100" /></p>
		                </form>
		            </td>
		        </tr>
		    </table>
		</div>
    </div>

